<table>
    <% form_tag cancelados_formularios_path do -%>
    <tr>
      <td align="right">
        <%= label_tag :nome, "Nome" %>
        <%= text_field_tag :nome %>
      </td>
      <td align="center" colspan="2">
        <%= submit_tag "Buscar" %>
      </td>
    </tr>
  <% end -%>
</table>

<div id="imprimir" class="scroll2">
<table>
  <thead>
    <tr>
      <th width="5%">Inscrição Nº</th>
      <th>CPF</th>
      <th>Nome</th>
      <th>Disciplina Escolhida</th>
      <th>Status</th>
      <th>Documentação</th>
      <th colspan="3">Administrar</th>
    </tr>
  </thead>
  <tbody>
    <% for formulario in @formularios %>
      <tr>
        <td width="5%"><%=h formulario.id %></td>
        <td><%=h formulario.cpf %></td>
        <td><%=h formulario.nome %></td>
        <td><%=h formulario.disciplina %></td>
        <td><%=h formulario.status %></td>
        <td><%=h formulario.documentacao %></td>
        <td><%= link_to image_tag("/images/exibir.gif", :size => "15x15"), formulario, :title => "Visualizar inscrição" %></td>
        <td><%= link_to image_tag("/images/editar.png", :size => "15x15"), edit_formulario_path(formulario), :title => "Alterar inscrição" %></td>
        <td><%= link_to image_tag("/images/excluir.png", :size => "15x15"), formulario, :confirm => 'Tem certeza?', :method => :delete, :title => "Excluir inscrição" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
