<table class="teste" width="100%">
  <tr>
    <td class="alinhamento_central" id="short">
      <%= image_tag("/images/brasao.jpg", :size => "150x100") %>
    </td>
    <td colspan="3" class="alinhamento_central">
      <h2>Prefeitura Municipal de Americana<br/>Estado de São Paulo</h2>
    </td>
  </tr>
  <tr><th colspan="4" class="alinhamento_central">FICHA DE INSCRIÇÃO PARA EVENTUAL</th></tr>
  <tr><th colspan="4" class="alinhamento_direito"><%= "INSCRIÇÃO Nº: #{@formulario.id}     DATA: #{@formulario.created_at.strftime("%d/%m/%Y")}" %></th></tr>
  <tr><th colspan="4">DADOS PESSOAIS</th></tr>
  <tr>
    <th class="alinhamento_justificado">NOME:</th>
    <td colspan="3"><%=h @formulario.nome %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">DATA DE NASCIMENTO:</th>
    <td colspan="3"><%=h @formulario.dt_nasc.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">ESTADO CIVIL:</th>
    <td><%=h @formulario.estado_civil %></td>
    <th class="alinhamento_justificado">Nº DE FILHOS:</th>
    <td><%=h @formulario.n_filhos %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">ENDEREÇO:</th>
    <td><%=h @formulario.endereco %></td>
    <th class="alinhamento_justificado">Nº:</th>
    <td><%=h @formulario.numero %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">COMPLEMENTO:</th>
    <td><%=h @formulario.complemento %></td>
    <th class="alinhamento_justificado">BAIRRO:</th>
    <td><%=h @formulario.bairro %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">CIDADE:</th>
    <td><%=h @formulario.cidade %></td>
    <th class="alinhamento_justificado">CEP:</th>
    <td><%=h @formulario.cep %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">PIS/PASEP</th>
    <td colspan="3"><%=h @formulario.pis %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado" id="short">CPF:</th>
    <td><%= "#{@formulario.cpf}" %></td>
    <th class="alinhamento_justificado" id="short">RG:</th>
    <td><%= "#{@formulario.rg}" %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado" id="short">TELEFONE: </th>
    <td><%= "#{@formulario.telefone}" %></td>
    <th class="alinhamento_justificado" id="short">CELULAR:</th>
    <td ><%= "#{@formulario.celular}" %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">E-MAIL</th>
    <td colspan="3"><%=h @formulario.email %></td>
  </tr>
  <tr>
    <th colspan="3" class="alinhamento_justificado">EXERCE OUTRA FUNÇÃO NA PREFEITURA DE AMERICANA</th>
    <td colspan="1"><%=h @formulario.outra_funcao %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">GRADUAÇÃO</th>
    <td><%=h @formulario.graduacao %></td>
    <th class="alinhamento_justificado">DISCIPLINA PRETENDIDA</th>
    <td><%=h @formulario.disciplina %></td>
  </tr>
  <tr>
    <th class="alinhamento_justificado">HORARIO DISPONÍVEL</th>
    <td colspan="3"><%=h @formulario.horario %></td>
  </tr>
  <tr>
    <td colspan="4">
      <b>IMPORTANTE ANEXAR A ESTA FICHA</b><br/>
      <ul>
        <li>CÓPIA DE DIPLOMA(S) DA(S) FACULDADESDE(S) E OU MAGISTÉRIO</li>
        <li>CÓPIA DOS DOCUMENTOS
          <ul>
            <li>RG</li>
            <li>CPF</li>
            <li>PIS</li>
            <li>COMPROVANTE ENDEREÇO</li>
            <li>CONTA/AGÊNCIA DO BANCO</li>
          </ul>
        </li>
        <li>CERTIFICAÇÕES DE CURSOS - MÍNIMO 4H - DOS ULTIMOS 5 ANOS</li>
      </ul>
      <b>OBS: SOMENTE ACEITAREMOS INSCRICAO PARA PROFESSORES QUE JÁ CONCLUÍRAM O CURSO.</b>
    </td>
  </tr>
  <% if logged_in? %>
      <%= render "administrar" %>
  <%end%>  
  <tr>
  <div class="invisible_to_print">
    <input type="Button" Value="Imprimir" onclick="Imprimir()"></input>
  </div>
  </tr>
</table>